body {
    background-color: #000;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}

.container {
    width: 75%;
    margin: 40px auto;
    background-color: #111;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px #000;
}

h1 {
    text-align: center;
    color: #00ffcc;
    font-size: 38px;
}

h2 {
    text-align: center;
    color: #ffcc00;
    margin-top: 10px;
}

img {
    display: block;
    margin: 25px auto;
    width: 260px;
    border-radius: 50%;
    border: 4px solid #00ffcc;
}

p {
    font-size: 18px;
    line-height: 1.7;
    color: #ddd;
    text-align: justify;
    margin-bottom: 15px;
}

.quote {
    margin-top: 30px;
    padding: 20px;
    background-color: #000;
    border-left: 5px solid #00ffcc;
    font-style: italic;
    color: #aaa;
}
